<div *ngIf="newEmployee.length != 0">
  <div class="heading">
  <h2>Employee Details</h2>
</div>
  <table [ngClass]="employee">
    <tr>
      <th>Code</th>
      <th>Name</th>
      <th>Gender</th>
      <th>Salary</th>
      <th>DOB</th>
    </tr>
    <tr *ngFor="let det of existingEmployee">
      <td>{{ det.code }}</td>
      <td>{{ det.name }}</td>
      <td>{{ det.gender }}</td>
      <td>{{ det.salary }}</td>
      <td>{{ det.dob }}</td>
    </tr>
    <tr *ngFor="let detail of newEmployee">
      <td>{{ detail.code }}</td>
      <td>
        {{ detail.name }}
      </td>
      <td>{{ detail.gender }}</td>
      <td>{{ detail.salary }}</td>
      <td>{{ detail.dob }}</td>
    </tr>
  </table>
</div>
